certifi==2023.7.22
charset-normalizer==2.0.12
click==7.1.2
idna==3.4
importlib-metadata==4.8.3
importlib-resources==5.4.0
Jinja2==3.0.3
MarkupSafe==2.0.1
numpy==1.19.5
packaging==21.3
PyMySQL==1.0.2
pyparsing==3.0.7
PyQt5==5.15.4
pyqt5-plugins==5.15.4.2.2
PyQt5-Qt5==5.15.2
PyQt5-sip==12.9.1
pyqt5-tools==5.15.4.3.2
python-dotenv==0.20.0
qt-material==2.7
qt5-applications==5.15.2.2.2
qt5-tools==5.15.2.1.2
sip==6.5.1
toml==0.10.2
typing_extensions==4.1.1
urllib3==1.26.16
zipp==3.6.0
